@media only screen and (orientation: landscape)	{

										/*-----HOMEPAGE-----*/
	body, #home	{
		background-image: url(../backgrounds/keybord.jpg);
		background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
	    background-size: cover;
	    background-position: center;
	    background-color: #fff;
	}

	.header	{
		position: fixed;
		z-index: 1000;
	}
	.hamburger	{
		display: none;
	}
	
	/* Navvigation */
	.navigation {
		width: 50vw;
		height: 8vh;
		margin-left: 60vw;
		position: fixed;
		z-index: 1001;
		margin-top: 1vh
	}
	.navDown	{
		opacity: 0.5;
		width: 12.5vw;
		margin-left: 92vw;
		display: block;

	}	.navDown:hover	{
		opacity: 1;
	}
	.box	{
		display: block;
		float: left;
		width: 12.5vw;
		
	}
	.main-box {
		width: 10vw;
		text-align: center;
		padding: 1vh 0;
		transform: skewX(0deg);
	   -ms-transform: skewX(0deg);
	   -webkit-transform: skewX(0deg);
	}
	.box h2 {
		padding: 0;
		transform: skewX(0deg);
	    -ms-transform: skewX(0deg);
	    -webkit-transform: skewX(0deg);
	}
	.fader, .fadest	{
		display: none;
	}
	.main-box:hover	{
		opacity: 0.5;
	}
	/*----text hire me----*/
	.cont	{
		top: 70vh;
	}
	.me 	{
		top: 70vh;
	}

											/*------ ABOUT ME */
	#about {
		background: -webkit-linear-gradient(#bfbfbf, #fff); 
	    background: -o-linear-gradient(#bfbfbf, #fff); 
	    background: -moz-linear-gradient(#bfbfbf, #fff); 
	    background: linear-gradient(#bfbfbf, #fff);
	}
	.abo {
		width: 150vh;
		margin-left: 25vh;
	}
	.squere		{
		width: 50vh;
		height: 50vh;
	}
	.info	{
		font-size: 4vh;
		padding: 8vh 1vh;
	}
	.main-info	{
		padding: 1vh;
		font-size: 3.1vh;
	}

											/*------SKILLS--------*/
	#skills img  {
		height: 40vh;
		transform: skewX(200deg);
	}
	.skillsGroup	{
		width: 100vw;
		margin: 0 5vw;
		padding: 15vh 0;
	}
	.sec  {
		width: 10vw;
		height: 70vh;
		overflow: hidden;
		transform: skewX(160deg);
		transition: width 3s;
		border-right: thick solid silver;
	}
	.sec h3	{
		display: none;
		position: relative;
		top: 25vh;
	}
	.sec:hover	{
		width: 25vw;
	}
	.sec:hover h3 {
		display: block;
	}
	.html:hover	{
		background-color: rgba(255,51,0,0.5);
	}
	.css:hover 	{
		background-color: rgba(0,102,255,0.5);
	}
	.js:hover	{
		background-color: rgba(204,204,0,0.3);
	}
	.jquery:hover {
		background-color: rgba(0,102,255,0.5);
	}
	.boot:hover	{
		background-color: rgba(102,0,255,0.5);
	}
	.sass:hover {
		background-color: rgba(255,102,217,0.5);
	}
	.ai:hover	{
		background-color: rgba(255,153,51,0.5);
	}
	.ps:hover {
		background-color: rgba(0,19,77,0.5);
	}

												/*----MY WORK----*/

	#myWork	{
		
	}

	.niceTravel	img{
		width: 30%;
		margin: 20%;
	}
}