*	{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	/* border: 1px solid black;  */
}
body	{
	width: 100vw;
	height: 100vw;
	overflow-x: hidden;
	font-family: 'Roboto Mono', monospace;
	
}

								/*--------- HOME wrap */

#home	{			
	width: 100vw;
	height: 100vh;
	background-image: url(../backgrounds/keyboard2.jpg);
	-webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.header		{
	width: 100vw;
	background-color: #000;
	height: 8vh;
}
#title	{
	color: #FFF;
	float: left;
	font-size: 3vh;
	margin: 2vh 2vw;
	font-family: 'Kaushan Script', cursive;
}

/* Hamburger button */

.hamburger	{
	width: 12%;
	height: 80%;
	float: right;
	right: 7%;
	top: 10%;
	position: relative;
	

}
.prva, .druga, .treca	{
	width: 100%;
	height: 20%;
	background-color: #FFF;
	transition: transform .5s, top .5s;
	position: absolute;
}
.prva	{
	top: 10%;
}
.druga	{
	top: 40%;
}
.treca	{
	top: 70%;
}
.ukrstanje	{
	top: 40%;
	transform: rotate(45deg);
}
.ukrstanje-suprotno	{
	top: 40%;
	transform: rotate(-45deg);
}

/* Navvigation */

.box    {
	width: 50vw;
	height: 5vh;
	display: none;
	margin-top: 1vh;
	margin-left: -3vw;

}
.main-box	{
	background-color: #000;
	float: left;
	color: #FFF;
	width: 43vw;
	height: 5vh;
	transform: skewX(150deg);

}
.box h2	{
	font-size: 3vh;
	padding: 0vh 5vw;
	transform: skewX(210deg);
}
.fader, .fadest	{
	width: 1vw;
	height: 5vh;
	float: left;
	transform: skewX(150deg);

}
.fader	{
	background-color: rgba(0,0,0,0.6);
	margin-left: 1%;
}
.fadest	{
	background-color: rgba(0,0,0,0.3);
	margin-left: 1.5%;
}
.text 	{
	color: #000;
	position: absolute;
	font-size: 10vw;
}
.hiring	{
	top: 50vh;
	left: 25vw;
	display: none;
}
.question	{
	top: 45vh;
	left: 40vw;
	font-size: 25vw;
}
.cont	{
	top: 70vh;
	left: -50vw;
}
.me 	{
	top: 70vh;
	right: -15vW;
}
										/*------ ABOUT ME */

#about 	{
	width: 100vw;
	height: 100vh;
	background-color: yellow;
}
.squere		{
	width: 50vw;
	height: 33.3vh;
	float: left;
}
.one	{
	background-image: url(../backgrounds/travel.jpg);
	-webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.two	{
	background-color: rgb(255,255,255);
}
.info	{
	background-color: rgba(255,255,255,0.5);
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 3vh;
	padding: 3vh;
	display: none;
}
.main-info	{
	font-size: 1.6vh;
	text-align: justify;
}
#scroller-top-button {
	display: none;
}