*	{

	box-sizing: border-box;
	list-style: none;
	/* border: 1px solid black;  */
}
body	{
	width: 100vw;
	height: 100vw;
	overflow-x: hidden;
	font-family: 'Roboto Mono', monospace;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar    {
	width: 0;
}	
								/*--------- HOME wrap */

#home	{			
	width: 100vw;
	height: 100vh;
	background-image: url(../backgrounds/keyboard2.jpg);
	-webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.header		{
	width: 100vw;
	background-color: #000;
	height: 8vh;
}
#title	{
	color: #FFF;
	float: left;
	font-size: 4vh;
	margin: 2vh 2vw;
	font-family: 'Kaushan Script', cursive;
}

/* Hamburger button */

.hamburger	{
	width: 12%;
	height: 80%;
	float: right;
	right: 7%;
	top: 10%;
	position: relative;
}
.prva, .druga, .treca	{
	width: 100%;
	height: 20%;
	background-color: #FFF;
	transition: transform .5s, top .5s;
	position: absolute;
}
.prva	{
	top: 10%;
}
.druga	{
	top: 40%;
}
.treca	{
	top: 70%;
}
.ukrstanje	{
	top: 40%;
	transform: rotate(45deg);
}
.ukrstanje-suprotno	{
	top: 40%;
	transform: rotate(-45deg);
}

/* Navvigation */

.box    {
	width: 50vw;
	height: 5vh;
	display: none;
	margin-top: 1vh;
	margin-left: -3vw;

}
.main-box	{
	background-color: #000;
	float: left;
	color: #FFF;
	width: 43vw;
	height: 5vh;
	transform: skewX(150deg);
	-ms-transform: skewX(150deg);
	-webkit-transform: skewX(150deg);
}
.box h2	{
	font-size: 3vh;
	padding: 1vh 5vw;
	transform: skewX(210deg);
	-ms-transform: skewX(210deg);
	-webkit-transform: skewX(210deg);
}
.fader, .fadest	{
	width: 1vw;
	height: 5vh;
	float: left;
	transform: skewX(150deg);

}
.fader	{
	background-color: rgba(0,0,0,0.6);
	margin-left: 1%;
}
.fadest	{
	background-color: rgba(0,0,0,0.3);
	margin-left: 1%;
}
.text 	{
	color: #000;
	position: absolute;
	font-size: 10vw;
	font-weight: 900;
}
.hiring	{
	top: 50vh;
	left: 25vw;
	display: none;
}
.question	{
	top: 45vh;
	left: 40vw;
	font-size: 25vw;
}
.cont	{
	top: 60vh;
	left: -50vw;
	display: none;
}
.me 	{
	top: 60vh;
	right: -15vW;
	display: none;
}
										/*------ ABOUT ME */

#about 	{
	width: 100vw;
	height: 100vh;
}
.squere		{
	width: 50vw;
	height: 33.3vh;
	float: left;
}
.one	{
	background-image: url(../backgrounds/travel.jpg);
	-webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.two	{
	background-color: rgb(255,255,255);
}
.three	{
	background-image: url(../backgrounds/varvarin.jpg);
	-webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.four	{
	background-image: url(../backgrounds/food.jpg);
	-webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.five	{
	background-image: url(../backgrounds/mypicture.jpg);
	-webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.six	{
	background-image: url(../backgrounds/simba.jpg);
	-webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.info	{
	background-color: rgba(255,255,255,0.5);
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 2.2vh;
	display: none;
	padding: 8vh 0;
	font-weight: 700;
}
.main-info	{
	font-size: 2vh;
	text-align: center;
	font-weight: 700;
}

									/*------SKILLS--------*/

#skills 	{
	width: 100vw;
	height: 100vh;
	text-align: center;
	background-color: #fff;
    background: -webkit-linear-gradient(#fff, #bfbfbf); 
    background: -o-linear-gradient(#fff, #bfbfbf); 
    background: -moz-linear-gradient(#fff, #bfbfbf); 
    background: linear-gradient(#fff, #bfbfbf); 
}
#skills img {
	height: 17vh;
	padding-top: 2vh;
}
.sec  {
	width: 50vw;
	height: 25vh;
	float: left;

}
.sec h3	{
	font-size: 3vh;
	font-weight: 700;
}
.html h3	{
	color: #ff3300;
}
.css h3, .jquery h3	{
	color: #0066ff;
}
.js	h3	{
	color: #cccc00;
}
.boot h3	{
	color: #6600ff;
}
.sass h3 {
	color: #ff66d9;
}
.ai h3	{
	color: #ff9933;
}
.ps h3 {
	color: #00134d;
}

									/*----MY WORK----*/

#myWork	{
	width: 100vw;
	height: 100vh;
	text-align: center;
	background-color: #fff;
    background: -webkit-linear-gradient(#bfbfbf, #fff); 
    background: -o-linear-gradient(#bfbfbf, #fff); 
    background: -moz-linear-gradient(#bfbfbf, #fff); 
    background: linear-gradient(#bfbfbf, #fff);
}
.niceTravel	{
	padding: 1vh 0;
}
.niceTravel img {
	width: 96vw;
}

									/*----CONTACT---*/

#contact {
	width: 100vw;
	height: 100vh;
	text-align: center;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background-color: #fff;
    background: -webkit-linear-gradient(#fff, #bfbfbf); 
    background: -o-linear-gradient(#fff, #bfbfbf); 
    background: -moz-linear-gradient(#fff, #bfbfbf); 
    background: linear-gradient(#fff, #bfbfbf); 
}
#contact h1 {
	padding: 5vh 0;
	font-size: 7vh;
}
#contact p {
	padding: 5vh 0;
	font-size: 2.5vh;
}
#contact h2 {
	padding: 5vh 0;
	font-size: 3.2vh;
	font-weight: 700;
}
#link, #git {
	padding: 5vh 5vw;
	font-size: 8vh;
	color: #000;
}
a {
	text-decoration: none;
}
#topButton {
	display: block;
	position: relative;
	font-size: 8vh;
	top: 20vh;
	color: #000;
}
#scroller-top-button {
	display: none;
}